@import url('https://fonts.googleapis.com/css2?family=Song+Myung&family=Source+Code+Pro&display=swap');

* {
	margin: 0; padding: 0;
  	font-family: 'Song Myung', serif;
}

a {
  text-decoration:none;
}

a:link, a:visited{
    display:block;
    color: black;
    text-decoration: none;
    text-align: center;
}


ul {
  list-style: none;
}

body {
	background-color: #DAE3F3;
}

input[type=text], input[type=password], input[type=tel], input[type=email]
{
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
  width: 250px;
  border: 2px solid #DAE3F3;
}
*#wrap {
    width: 1400px;
 	margin: 0 auto; 
    color: #222;
    background-color: #DAE3F3;
    text-align:center;
}

#contents {
	float: left; 
	width: 1400px; 
	height: 750px; 
	background: white;
	border-radius: 3px;
	border: none;
}

#contents h1 {
  margin: 30px;
  width: 1200px;
  text-align: center;
}
/*로그인*/

#log {
  width: 550px;
  background:#fff;
  border-radius: 5px;
  margin: auto;
  padding: 30px;
}
    
#log fieldset {
  border: 2px solid #DAE3F3;
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-radius: 5px;
}

#log legend {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 50px;
}
#log p{
	font-size: 20px;
}

#log ul li {
  line-height: 30px;
  list-style: none;
  padding: 10px 25px;
  margin-bottom: 3px;
  text-align: center;
}
      
#log label {
  float: left;
  font-size: 17px;
  width: 130px;
  padding-left: 30px;
  text-align: center;
}

#log input[type=submit]{  
  border: 2px solid #DAE3F3;
  background-color: #DAE3F3;
  border-radius: 5px;
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 20px auto;
  padding: 7px 25px;
  width: 350px;
  height: 50px;
}
      
#log input[type=text], #log input[type=password]{
  border: 2px solid #DAE3F3;
  border-radius: 3px;
  font-size: 17px;
  padding: 5px;
  width: 220px;
}   

#log input[type=submit]:hover{ 
  background-color:#8FAADC;
  color:white;
}

/*회원가입*/
#join {
  width: 550px;
  background:#fff;
  border-radius: 5px;
  margin: auto;
  padding: 30px;
}
    
#join fieldset {
  border: 2px solid #DAE3F3;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 5px;
}

#join fieldset:first-of-type{
  border:none;
  font-size: 30px;
  font-weight: bold;
}

#join fieldset:last-of-type{
  border:none;
}

#join legend {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
      
#join ul li {
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 3px;
  line-height: 50px;
}
      
#join label {
  float: left;
  font-size: 15px;
  width: 150px;
  padding-left: 30px;
}

#join button, input[type=submit]{  
  border: 1px solid #DAE3F3;
  background-color: #DAE3F3;
  border-radius: 5px;
  display: block;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px auto;
  padding: 10px 25px;
  width: 200px;
}


#join input:not[type=radio] { 
  border: 1px solid #DAE3F3;
  font-size: 13px;
  padding: 5px;
  width: 200px;
}


#join button:hover, input[type=submit]:hover{ 
  background-color:#8FAADC;
  color:white;
}

/*회원정보*/
#myinfo {
 border:3px solid #DAE3F3;
	float:right;
      width:650px;
      height:700px; 
      margin: 10px;
      padding:10px; 
      border-radius: 5px;
}

#myenroll{
	border:3px solid #DAE3F3;
	float:right;
      width:650px;
      height:700px; 
      margin: 10px;
      padding:10px; 
      border-radius: 5px;
      overflow: auto;
    scrollbar-face-color:#8FAADC;
    scrollbar-track-color:#DAE3F3;
}
#myenroll:first-of-type{
	float: left
}
#myenroll h2{
	margin-left: -20px;
}

#table_myenroll {
	width: 640px;
	height: 500px;
	margin-top :0px;
	border: 2px solid #DAE3F3;
}
#table_myenroll caption{
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#table_myenroll tr{
    height:30px;
    text-align: center;
    line-height:30px;
}
#table_myenroll tr:first-of-type{
    font-size:16px;
    height:30px;
    text-align: center;
    line-height:30px;
    background-color: #DAE3F3;
}
#table_myenroll input[type=submit]{
	background-color: white;
	border: none;
	font-size:16px;
	padding: 8px;
	width: 50px;
}

#table_myenroll input[type=submit]:hover { 
  background-color:#8FAADC;
  color:white;
}

#table_myenroll > td-1{
	width:10%;
}
#table_myenroll > td-2{
	width:20%;
} 
#table_myenroll > td-3{
	width:15%;
}
#table_myenroll > td-4{
	width:25%;
}
#table_myenroll > td-5{
	width:10%;
}
