@import url('https://fonts.googleapis.com/css2?family=Song+Myung&family=Source+Code+Pro&display=swap');

* {
	margin: 0; padding: 0;
  	font-family: 'Song Myung', serif;
}

a {
  text-decoration:none;
}

a:link, a:visited{
    display:block;
    color: black;
    text-decoration: none;
    text-align: center;
}

ul, li{ 
  list-style:none;
}

body {
	background-color: #DAE3F3;
}

input[type=text], input[type=password], input[type=tel], input[type=email]
{
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
  width: 250px;
  border: 2px solid #DAE3F3;
}
#start{
	border:none;
	background-color:#DAE3F3;
	color:#DAE3F3;
}

#wrap {
    width: 1400px;
   	height: 100px;
 	margin: 0 auto; 
    color: #222;
    background-color: #DAE3F3;
    text-align:center;
}


/*seeTerm*/
#researchText{
  width: 400px;
  height: 40px;
  border: 3px solid #DAE3F3;
  margin: 40px 0px 40px;
  margin-left: 350px;
  border-radius: 5px;
}

#researchSubmit{
  width: 90px;
  height: 46px;
  color: black;
  border: none;
  background-color: #DAE3F3;
  margin-left: 30px;
  border-radius: 5px;
  font-size: 18px;
}

#researchSubmit:last-of-type{
	margin-left:200px;
	margin-top: 46px;
}
#researchSubmit:hover {
  background-color:#8FAADC;
  color:white;
}

article a{
  font-size: 25px;
}
article textarea{
  width: 1100px;
  height: 400px;
  border: none;
   font-size: 20px;
   overflow:hidden;
   line-height:30px;
   padding-top: 30px;
}
article textarea:focus {
 outline: none;
}

article{
      float:left;
      width:350px;
      height:300px; 
      margin:25px 45px 25px;
      padding:10px; 
      border:3px solid #DAE3F3;
      border-radius: 5px;
      text-align: center;
}

.contents {
	float: left; 
	width: 1400px; 
	height: 750px; 
	background: white;
	border-radius: 3px;
	text-align:center;
}

.contents h1 {
  margin: 30px;
  width: 1200px;
}
.contents h2{
  	margin-left: 320px;
}
.contents a{
  background-color: #DAE3F3;
  border: 2px #DAE3F3 solid;
  border-radius: 3px;
  padding: 10px;
  width: 30px;
  height: 20px;

  float: left;
  margin-left: 130px;
  margin-top: 70px;
  margin-bottom: 10px;
}

.contents a:last-of-type{
  float: right;
  margin-right: 130px;
  margin-top: -30px;
}


#inst input[type=submit]{
  border: 2px solid #DAE3F3;
  background-color: #DAE3F3;
  border-radius: 5px;
  display: block;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 40px auto;
  padding: 5px 15px;
  width: 180px;
  height: 50px;
}
#inst input[type=submit]:hover { 
  background-color:#8FAADC;
  color:white;
}

#detail{
      float:left;
      width:1200px;
      height:500px; 
      margin: 0px 90px 25px;
      padding:10px; 
      border:3px solid #DAE3F3;
      border-radius: 5px;
      text-align: center;
}

#detail p{
  font-size: 18px;
  text-align: left;
  padding: 10px;
}


#listWrapper{
	  float:left;
      width:1354px;
      height:750px; 
      margin: 0px 10px 25px;
      padding:10px; 
      /*border:3px solid #DAE3F3;*/
      border-radius: 5px;
}
#table {
	width: 1350px;
	height: auto;
	margin-top :0px;
	border: 2px solid #DAE3F3;
}

#table tr{
    height:30px;
    text-align: center;
    line-height:30px;
}
#table tr:first-of-type{
    font-size:16px;
    height:30px;
    text-align: center;
    line-height:30px;
    background-color: #DAE3F3;
}
#table input[type=submit]{
	background-color: white;
	border: none;
	font-size:16px;
	padding: 10px;
}

#table input[type=submit]:hover { 
  background-color:#8FAADC;
  color:white;
}

#table > tr > td > input[type=submit]:first-child{
	width:10%;
	padding: 50px;
}
#table > tr > td:first-child +td{
	width:30%;
	padding: 30%;
} 
#table > tr > td:first-child +td+td{
	width:20%;
}
#table > tr > td:first-child +td+td+td{
	width:20%;
}
#table > tr > td:first-child +td+td+td+td{
	width:20%;
}


#divPaging {
    clear:both; 
    margin:0 auto; 
    width:220px; 
    height:50px;
}

#divPaging > div {
    float:left;
    width: 30px;
    margin:0 auto;
    text-align:center;
}

#liSearchOption {clear:both;}
#liSearchOption > div {
    margin:0 auto; 
    margin-top: 30px; 
    width:auto; 
    height:100px;

}

.left {
    text-align : left;
}

